<div data-controller="rich-text--tinymce-component">
  <textarea id="tinymce-editor">
    <p><em>Hello</em>, <span style="text-decoration: underline;"><strong>World!</strong></span></p>
  </textarea>
  <%= content %>
</div>
