
<h2 class="mb-2 text-lg font-semibold text-gray-900 dark:text-white">Password requirements:</h2>
<ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
    <%= render(List::LiComponent.new) do |component| %>
      <% component.with_header do %>
        <%= render(Symbol::DotComponent.new) %>
      <% end %>
      At least 10 characters
    <% end %>
    <li>
        At least one lowercase character
    </li>
    <li>
        Inclusion of at least one special character, e.g., ! @ # ?
    </li>
</ul>
