<div
  data-controller="button--button-component"
  data-button--button-component-has-modal-value='<%= @has_modal %>'
  class="inline"
>
  <button class="<%= @klass || 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-md text-sm px-4 py-1 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 active:scale-95 duration-1000' %>"><%= @label %></button>
  <%= content %>
</div>